pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
.lein-failures
target/
log
.bundle
.vagrant
vendor
dev/user.clj
.lein-repl-history
ext/packaging
.nrepl-port
checkouts
/repo_configs/
/junit/
/acceptance/hosts.cfg
base-path
